body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #999999;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

button:hover {
  background-color: #777777;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333333;
  border-radius: 5px;
}

li h3 {
  margin-top: 0;
}

li p {
  margin-bottom: 10px;
}

.edit-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  background-color: #555555;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #777777;
}

.create-post-link {
  display: block;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: fit-content;
}

.create-post-link:hover {
  background-color: #555;
}
